<h1>LOGIN</h1>

<form method="post">
    <label>EMAIL:</label>
    <input type="text" placeholder="email" name="email"/>
    <label>PASSWORD:</label>
    <input type="text" placeholder="password" name="password"/>
    <button class="btn btn-info">LOG IN</button>
</form>

<h3>@ViewData["MENSAJE"]</h3>